updf
*.o
version.h
*.mo
Makefile
uPDF2.pro.user.*
uPDF2.pro.user
*.autosave
ui_*
prc_*
moc_*
.qmake*
uPDF2

autom4te.cache
config
configure
*.in
aclocal.m4
config.log
config.cache
*~
.deps
.libs
config.status
stamp-h1
stamp-po
autoconfig.h
POTFILES
remove-potcdate.sed

*.tgz
*.pdf
